footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #fff;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer li:last-child {
    margin-right: 0;
}

footer a:hover {
    text-decoration: underline;
    color: #ff5a5f;
}