@import url(default.css);

@import url(header.css);

@import url(main.css);

@import url(form.css);

@import url(footer.css);

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #eee;
}